.section4{
    width: 85%;
    min-height: 500px;
    /* background-color: red; */
    margin: auto;
}

.section4 .section4-info{
    width: 50%;
    min-height: 100px;
    /* background-color: aqua; */
    margin: auto;
    text-align: center;
    margin-bottom: 40px;
}

.section4-info h1{
    font-size: 40px;
    color: rgba(0,0,0,0.7);
    margin-bottom: 10px;
}

.section4-info p{
    font-size: 15px;
    color: rgba(0,0,0,0.5);
    font-weight: 600;
}

.section4-grid{
    margin: auto;
    width: 80%;
    min-height: 400px;
    /* background-color: red; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 10px;
}

.section4-grid .grid-item{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    /* background-color: aqua; */
}

.section4-grid .grid-item img{
    width: 95%;
    height: auto;

}

.section4-grid .grid-item .floating-info{
    width: 80%;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
    box-shadow: 0.5px 0.5px 10px black;
    border-radius: 10px;
    text-align: center;
    transform: translateY(-50%);

}

.section4-grid .grid-item .floating-info h3{
    font-size: 15px;
    color: rgba(0,0,0,0.5);
    font-weight: 600;
}

.section4-grid .grid-item .floating-info span{
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}